# 🔹 Node
node_modules/

# 🔹 Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# 🔹 Build output (React)
dist/

# 🔹 Electron build output
release/
electron-dist/

# 🔹 Electron builder artifacts
*.dmg
*.exe
*.zip
*.blockmap
latest.yml
latest-mac.yml
latest-linux.yml

# 🔹 Mac system files
.DS_Store

# 🔹 Env files
.env
.env.*

# 🔹 IDE
.vscode/
.idea/

# 🔹 TypeScript
*.tsbuildinfo